.newscopyCardMui{
     /* width: 18%; */
     box-shadow: 1.0px 1.0px 1.0px 1.0px rgba(77, 62, 62, 0.35);
     /* background-color: rgba(247, 0, 0, 0.35); */
     display:block ;
    flex-direction: column;
    /* justify-content: space-between; */
    background: white;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: 0.25rem;
    /* min-height: 50px; */
    /* padding: 1rem; */
    /* padding-bottom: 1rem;
    padding-right: 1rem; */
    /* No fixed height here, as the height will be based on the content */
    /* background-color: rgba(101, 175, 197, 0.35) ; */
}
 



.newscopyCardMui:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    transition-duration: 0.4s;
    background-color: rgba(26, 57, 66, 0.35);
    /* transform: scale(1.1); */
}


/* .newscopycontent{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 15px;
    width: 50%; */
    /* background-color: rgba(101, 175, 197, 0.35) ; */
    /* min-height: 10%; */
    /* padding-bottom: 50px;
    margin-bottom: 10px; */

/* } */

/* .newscopyWrapper{
background-color: rgba(101, 175, 197, 0.35) ;
    margin: 70px 0px; 
    display: flex;
    flex-direction: column;
    
} */

/* .newscopyCardsWrapper{ */
    
    /* display: flex; */
    /* display: inline-flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: center;
    gap: 20px;
    margin-top: 30px;
    
} */

.newsTwitterWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* gap: 30px; */
    width: 100%;
    /* padding: 40px; */
    margin-bottom: 2%;
  }




  /* .homepage_Wrapper{ */
    /* display: flex; */
    /* width: 100%; */
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    /* justify-content: center; */
    /* gap: 20px; */
    /* background: linear-gradient(120deg, #8ea5df, #9cddd8); */
    /* padding: 35px; */
    /* align-items: center; */
/* } */


.newsWrapper2{
    /* flex-wrap: nowrap;
    flex: 2; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    /* max-height: 700px; */
    /* margin-top: 30px; */
    /* margin-bottom: 40px; */
    /* width: 100%; */
    /* margin: 30px 0; */
    /* overflow: hidden; */
    width: 50%; 
    margin-left: 1%;
    margin-right: 0.4%;
    background: linear-gradient(120deg, #8ea5df, #9cddd8);
    

}
.newsWrapper2>h1{ 
    /* margin-top: 80px; */
    /* margin: 60px 0px; */
}

.twitterSection {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    height: 100%;
    margin-right: 1%;
    padding: 0.2%;
  }
  
  .twitterSection>h1{
    /* background: linear-gradient(120deg, #8ea5df, #9cddd8); */
    /* margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: rgb(160, 209, 221); */
}



.newsLabel2 {
    background-color: #FF4D4D; /* Red background */
    color: black;
    font-weight: 500;
    font-size: 12.5px;
    padding: 2px;
    border-radius: 4px;
    margin-right: 4px; 
    /* display: inline-block; */
    /* padding: 0px; */
    padding-top: 0px;
    padding-bottom: 0px;
    /* width: fit-content; */
    
} 
.slider_newscopy{
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    /* background-color: rgba(30, 103, 185, 0.35) ; */
    box-shadow: 0px 0px 120px 0px rgba(124, 203, 228, 0.35);
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 15px;
    /* width:90%; */
    
    /* min-height: 50%; */
    /* padding-bottom: 5px;
    margin-bottom: 50px; */

}


/* .carousel_newscard_copy{ */
    
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    transition-duration: 0.4s; */
/* } */

@media (max-width: 768px){

    .newsTwitterWrapper {
        flex-direction: column;
        align-items: center;
      }

    .newsWrapper2{
        width: 90%;
        margin: 0;
        /* margin-right: 0; */
    }

    .newscopyWrapper{
        margin-top: 40px;
    }
    .newscopyCardMui{
        /* width: 50%; */
        align-content: center;
        /* display: flex;
        align-items: center; */
        /* justify-content: center; */
    }
    .slider_newscopy{
        width: 90%;
    }


    .twitterSection {
        margin-top: 30px;
        width: 90%;
      }
    

}

