
/* .logo {
  margin-right: 10px;
}


.logo {
  margin-right: 0; 
}

.logo-container {
  display: flex;
  justify-content: space-between; 
}
.logo-container {
  display: flex;
  justify-content: flex-start; 
}

.logo_left{
    margin-left: 0px;
} */
/* NavBar.css */
/* .navbar .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  } 
  
  .navbar .logo {
    margin-right: 0; 
    
  }
  */

  .custom-navbar-gradient {
    background: linear-gradient(120deg, #8ea5df, #9cddd8);
    color: #000;

  }

  
  @media (max-width: 768px) {
    .nav_mobile {
        display: block;
        
    }
  }