.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.section-divider {
    border: none;
    border-top: 2px solid #ccc; /* or your theme color */
    margin: 40px auto;
    width: 100%;
  }
  

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #c7cbd6;
    border-radius: 20px;
    border: 3px solid #c7cbd6;
}